.parent {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url('https://cdn.create.vista.com/api/media/small/443218752/stock-photo-blurred-photo-interior-gym-equipment-sports-concept-workout');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.header-con { 
  grid-area: 1 / 1 / 3 / 21;
  background-color: rgba(51, 51, 51, 0.74);
}

.body-con { grid-area: 3 / 1 / 17 / 21;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-con { 
  grid-area: 17 / 1 / 21 / 21;
  background-color: rgba(51, 51, 51, 0.74);
}

.logo-con { 
  grid-area: 1 / 1 / 3 / 3;
  display:flex;
  align-items: center;
  justify-content: center; 
}

.contact-con { 
  grid-area: 17 / 1 / 21 / 6; 
  width: 100%;  
}
.contact-con h1,.contact-con p{
  background-image: linear-gradient(to right, aqua, #ff00ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s;
  padding-left: 20px;
}
.contact-con h1:hover,.contact-con p:hover{
  background-position: right center;
}

.profile-con {
  grid-area: 1 / 19 / 3 / 21; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-sign-parent {
  display:flex;
  align-items: center;
  justify-content: center; 
}

.log-sign, .submitbutton, .my-prof-button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: transparent;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  margin-right: 10px;
  background-image: linear-gradient(to right, aqua, #ff00ff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s;
  font-size: 14.5px;
}
.log-sign:hover, .submitbutton:hover,.my-prof-button:hover {
  background-position: right center;
}

.main-container { 
  grid-area: 5 / 6 / 17 / 16;
  background-color: rgba(51, 51, 51, 0.74);
  border-radius: 30px; 
}

.title { 
  grid-area: 4 / 7 / 5 / 15; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff00ff, aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.submit { 
  grid-area: 15 / 15 / 17 / 16;
  display: flex;
  align-items: center; 
}

.back { 
  grid-area: 5 / 6 / 6 / 7; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.back h1 {
  color: #ccc;
  cursor: pointer;
  height: fit-content;
  text-decoration: none;
}

.error-message { 
  grid-area: 16 / 8 / 17 / 14; 
}

.form-con { 
  grid-area: 7 / 7 / 14 / 15;
  display: flex;
  justify-content: center; 
}

.divert { 
  grid-area: 14 / 8 / 15 / 14;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: #ccc;
}
.Linktochange {
  text-decoration: none;
  color: #ccc;  
}


.form { 
  grid-area: 7 / 7 / 13 / 15; 
}
.form-input {
  margin-bottom: 5px;
  height: 50px;
  width: 500px;
  text-align: center;
  font-size: medium;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #ccc;
  background-image: linear-gradient(to right, aqua, #ff00ff);
  background-size: 200% auto;
  transition: background-position 0.5s, color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input:hover {
  background-position: right center;
}
.form-input:hover::placeholder {
  color: #dddddd;
}
.form-input:focus {
  background-position: right center;
}

.menu {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.74);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-item {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transform-origin: center center;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding:5px;
  margin:10px;
}


.logger {
  transform: rotate(0deg) translate(200px) rotate(0deg);
}


.logger-history {
  transform: rotate(90deg) translate(200px) rotate(-90deg);
}

.bmi-calc {
  transform: rotate(180deg) translate(200px) rotate(180deg);
}

.vid-help {
  transform: rotate(270deg) translate(200px) rotate(-270deg);
}

.menu-item.logger, .menu-item.logger-history,
.menu-item.bmi-calc, .menu-item.vid-help {
  background: linear-gradient(to right, aqua, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-item.description {
  color: #ccc;
  height: 200px;
  width: 200px;
  background-color: #ffffff28;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logger:hover, .logger-history:hover,
.bmi-calc:hover, .vid-help:hover {
  font-size: larger;
}

.my-profile-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi-parent {
  display: grid;
  place-items: left;
  gap: 10px;
  background-color: rgba(51, 51, 51, 0.74);
  padding: 20px;
  border-radius: 25px;
  width: 500px;
}

.height-input,
.weight-input,
.height-change,
.weight-change,
.gender-change,
.bmi-res {
  display: grid;
  place-items: left;
  gap: 10px;
}

.height-input,
.weight-input {
  grid-template-columns: auto 1fr auto;
}

.bmi-res {
  grid-template-rows: auto auto;
}

.height-input input[type="range"],
.weight-input input[type="range"] {
  width: 200px;
}
.height-input h4, .weight-input h4 {
  color: #ccc;
}
.height-input input[type="text"],
.weight-input input[type="text"] {
  width: 80px;
}

.unitChanges{
  display: flex;
  justify-content: center;
}

.height-change button, .weight-change button, 
.gender-change button {
  font-size: 16px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  color: #ccc;
}

.bmi-res h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ccc;
}

.bmi-res h4 span {
  margin-left: auto;
}

.bmi-input {
  display: flex;
  align-items: center;
  justify-content: right;
}

.part-con {
  background-color: rgba(51, 51, 51, 0.74);
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
}

.logger-body {
  overflow-x: scroll;
  display: flex;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.exercise-type {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.circle-number {
  width: 50px; /* Adjust the size of the circle as needed */
  height: 50px; /* Adjust the size of the circle as needed */
  background: conic-gradient(from -90deg, #ff8a00, #e52e71);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

.form-container {
  text-align: center;
  background-color: #333;
  margin: 15px;
}

.set-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.set-container span {
  margin-right: 10px;
}

.body-con1 { grid-area: 3 / 1 / 17 / 21;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
